@use "../../assets/styles/variables" as *;

.beer-card {
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 45vh;
    padding: 10px;
    background-color: #FFFFFF;
    
    &__image{
    height: 5rem;
    position:relative;
    }

    &__info{
        height: fit-content;

    }

    &__name{
        font-size: 16px;
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
    }

    &__tagline{
        font-size: 12px;
    }    

    &__description {
        font-size: 8px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;

    }
}

@media screen and (min-width: 768px) {
    .beer-card{

        &__image{
            height: 12rem;
        }

        &__name {
            font-size: 24px;
            text-align: center;
        }

        &__tagline {
            font-size: 20px;
            text-align: center;
        }

        &__description{
            font-size: 18px;
        }
    }
}