@use "../../assets/styles/variables"as *;

.beer-card {
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 200px;
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;

    &__image {
        height: 7rem;
        position: relative;
    }

    &__info {
        height: fit-content;

    }

    &__name {
        font-size: 15px;
    }

    &__tagline {
        display: none;
    }

    &__description {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .beer-card {
        height: 500px;

        &__image {
            height: 12rem;
        }

        &__name {
            font-size: 24px;
        }

        &__tagline {
            display:contents;
            font-size: 20px;
            text-align: center;
        }

        &__description {
            display: flex;
            font-size: 18px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}