@use "../../assets/styles/variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid $secondary-color;
    border-radius: 5px;
    height: 50vh;
    width: 200px;
    padding: 0 5px;
    margin: 10px;
    background-color: $tertiary-color;
    color: $secondary-color;
    

/*     &__filter{
        
    } */
}
