@use "./assets/styles/variables" as *;

.app {
  display: flex;
  align-items: center;
  height: 98vh;
  width: 100%;
  font-family: $font-body;
  box-sizing: border-box;
  background-color: $primary-color;
  }
  
  a:link,
  a:visited
  {
    text-decoration: none;
    color: black;
  }